name: Rust

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Install LLVM@8
      run: sudo apt install -y llvm-8-dev
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
